.section{
    background-color: var(--inputs);
padding-top: 24px;
padding-bottom: 24px;
}
.header{
    display: flex;
   align-items: center;
   justify-content: space-between
}

.navigation{
    display: flex;
    gap: 32px ;
}

.navigationLink{
line-height: 150%;
color: var(--main);
}


.navigationLink:hover,
.navigationLink:focus,
.navigationLink:active {
    color: var(--button-hover);
}
