.box{
width: 631px;
    height: 340px;
    padding-top: 56px;
}

.avatar{
border-radius: 60px;
    width: 60px;
    height: 60px;
    background-color: var(--badges);
   text-align: center;
   color:var(--button); 
font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    padding-top: 15px;

}

.reviewHeader{
    display: flex;
    align-items: center;
    gap: 16px;
}

.reviewerName{
    margin-bottom: 4px;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;

}

.reviewText{
font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-top:16px ;
    margin-bottom: 44px;
}

.starIcon {
    --color3: #dadde1;
    transition: var(--transition);
}
.starActive {
    --color3: #ffc531;
}