.wrapper {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 6px;
    border: 1px solid transparent;
    color: var(--gray);
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--main);
}