.home{
    background-image: url("@/public/picture/Picture.webp");
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 100%; 
}
.hero{
  padding-top: 260px;  
  padding-bottom: 260px;
}

.title{
    font-size: 48px;
        line-height: 67%;
        color: var(--inputs);
        margin-bottom: 16px;
}

.text{
font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
    margin-bottom: 40px;
}

.button{
    border-radius: 200px;
        padding: 16px 60px;
    background-color: var(--button);
    text-align: center;
    color:var(--white); ;
}