.section{
margin-top: 44px; ;
padding: 44px 52px;  
background-color: var(--inputs);
width: 631px;
    height: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chipsRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    /* margin-bottom: 100px ; */
}
.chip{
background-color: var(--badges);
border-radius: 100px;
    padding: 12px 18px;
    display: flex;
    gap: 8px;
}

.chipIcon{
fill: var(--white);
    stroke: var(--main);
}

.chipLabel{
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
}

.detailsTitle{
font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--gray-light);
}

.detailsRow{
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
}

.detailsName{
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px ;
}